/*cssreset*/
html,body{height: 100%; overflow: hidden;}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0px;padding: 0px;font: 14px "微软雅黑";}
a{text-decoration: none;display: block;}
li{list-style: none;}
img{display: block;}

/*清除浮动*/
.clearfix{*zoom: 1;}
.clearfix:after{content: "";display: block;clear: both;}

/*title公共样式*/
  .commonTitle{ color:#009ee0; font-size:80px; line-height:0.8;
    font-weight:bold; letter-spacing:-5px;
  }
/*text公共样式*/
  .commonText{ color:white; line-height:1.5; font-size:15px;}


/*头部样式*/
#wrap{
  width: 100%;
}
#header{
  position: relative;
  background-color: pink;
  width: 100%;
  height: 80px;
}
#header .headerMain{
  margin: 0 auto;
  width: 1100px;
  height: 80px;
}
#header .headerMain .logo{
   margin-top: 15px;
   float: left;
 }
#header .headerMain .nav{
  margin-top: 50px;
  float: right;
}
#header .headerMain .nav .navList .navItem{
  position: relative;
  float: left;
  margin-left: 40px;
}
#header .headerMain .nav .navList .navItem .up{
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  width: 0;
  overflow: hidden;
  transition: 1s width;
}
#header .headerMain .nav .navList .navItem .down{
  color: #009EE0;
}
#header .headerMain .nav .navList .navItem:hover .up{
  width: 100%;
}
#header .headerMain .arrow{
  position: absolute;
  left: 50%;
  bottom: -11px;
  transform: translateX(-50%);
  background-image: url("../img/arrow.png");
  background-size: 21px 11px;
  width: 21px;
  height: 11px;
  transition: 1s left;
  z-index: 3;
}

/*内容区*/
#content{
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: gray;
  /*height: 屏幕高度-头部高度*/
}
#content .contentList{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s top;
}
#content .contentItem{
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  /*height: 屏幕高度-头部高度*/
}
#content .contentItem:nth-child(1){
  background-image: url("../img/bg1.jpg");
}
#content .contentItem:nth-child(2){
  background-image: url("../img/bg2.jpg");
}
#content .contentItem:nth-child(3){
  background-image: url("../img/bg3.jpg");
}
#content .contentItem:nth-child(4){
  background-image: url("../img/bg4.jpg");
}
#content .contentItem:nth-child(5){
  background-image: url("../img/bg5.jpg");
}
#content .contentItem .contentInner{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /*background-color: orange;*/
  width: 1100px;
  height: 520px;
}

/*第三屏*/
#content .contentList .works .contentInner .works1{
  margin: 50px 0px 100px 50px;
}
#content .contentList .works .contentInner .works2{
  margin-left: 50px;
}
#content .contentList .works .works2 .works2Item{
  position: relative;
  float: left;
  width: 220px;
  height: 133px;
  margin-right: 1px;
  overflow: hidden;
}
#content .contentList .works .works2 .works2Item>img{
  transition: 1s transform;
}
#content .contentList .works .works2 .works2Item:last-child{
  width: 332px;
  height: 133px;
}
#content .contentList .works .works2 .works2Item .mask>span{
  margin: 10px;
}
#content .contentList .works .works2 .works2Item .mask{
  position: absolute;
  top: 0;
  left: 0;  
  background-color: rgba(25,25,25,0.8);
  color: white;
  width: 100%;
  height:100%;
  transition: 1s opacity;
  opacity: 0;
}
#content .contentList .works .works2 .works2Item .mask .icon{
  background-image: url("../img/zoomico.png");
  width: 32px;
  height: 34px;
  margin: 0 auto;
  margin-top: 10px;
  transition: 1s background-position;
}
#content .contentList .works .works2 .works2Item:hover .mask{
  opacity: 1;
}
#content .contentList .works .works2 .works2Item:hover .icon{
  background-position: 0 -35px;
}
#content .contentList .works .works2 .works2Item:hover>img{
  transform: rotate(30deg) scale(1.8);
}
#content .contentList .works .works3 .robot{
  position: absolute;
  background-image: url("../img/robot.png");
  width: 167px;
  height: 191px;
  left: 900px;
  top: 170px;
  animation: robotMove 5s linear infinite;
}
@keyframes robotMove {
  0%{transform: rotateY(0deg);}
  49%{left: 40%;transform: rotateY(0deg);}
  50%{transform: rotateY(180deg);}
  100%{transform: rotateY(180deg);}
}

/*第四屏*/
#content .contentList .about .about1 {
  margin: 50px 0 100px 50px;
}
#content .contentList .about .about2{
  width: 400px;
  margin-left: 50px;
}
#content .contentList .about .about3 .about3Item{
  position: absolute;
  width: 260px;
  height: 200px;
  border: 5px rgba(255,255,255,0.5) solid;
  border-radius: 8px;
  z-index: 4;
}
#content .contentList .about .about3 .about3Item:nth-child(1){
   left: 750px;
   top: 50px;
 }
#content .contentList .about .about3 .about3Item:nth-child(2){
  left: 600px;
  top: 290px;
}
#content .contentList .about .about3 .about3Item .mask{
  position: absolute;
  top: 0;
  left: 0;
}
#content .contentList .about .about3 .about3Item .mask .maskList .maskItem{
  position: relative;
  float: left;
  width: 130px;
  height: 100px;
  overflow: hidden;
}
#content .contentList .about3Item .mask  .maskItem>img{
  position: absolute;
  transition: 1s;
}
#content .contentList .about3Item .mask  .maskItem:nth-child(1) img{
  top: 0;
  left: 0;
}
#content .contentList .about3Item .mask  .maskItem:nth-child(2) img{
  top: 0;
  right: 0;
}
#content .contentList .about3Item .mask  .maskItem:nth-child(3) img{
  bottom: 0;
  left: 0;
}
#content .contentList .about3Item .mask  .maskItem:nth-child(4) img{
  bottom: 0;
  right: 0;
}
#content .contentList .about3 .about3Item:hover .maskItem:nth-child(1)>img{
  top:100px
}
#content .contentList .about3 .about3Item:hover .maskItem:nth-child(2)>img{
  right:130px
}
#content .contentList .about3 .about3Item:hover .maskItem:nth-child(3)>img{
  left:130px
}
#content .contentList .about3 .about3Item:hover .maskItem:nth-child(4)>img{
  bottom:100px
}
#content .contentList .about .line{
  position: absolute;
  left: 700px;
  background-image: url("../img/greenLine.png");
  width: 357px;
  height: 998px;
}

/*第二屏*/
#content .contentList .course .course1{
  margin: 50px;
}
#content .contentList .course .course2{
  width: 400px;
  margin-left: 50px;
}
#content .contentList .course .course3{
  position: absolute;
  width: 480px;
  /*height: 300px;*/
  /*background-color: gray;*/
  right: 50px;
  top: 70px;
  transform-style: preserve-3d;
}
#content .contentList .course .course3 .course3Item{
  position: relative;
  float: left;
  width: 120px;
  height: 132px;
  /*background-color: gray;*/
  transform-style: preserve-3d;
  transition: 1s transform;
}
#content .contentList .course .course3 .course3Item .front{
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 132px;
  /*background-color: gray;*/
  background-image: url("../img/pcwelt.png");
  background-repeat: no-repeat;
  background-position: center;
  backface-visibility: hidden;
}
#content .contentList .course .course3 .course3Item .back{
  width: 120px;
  height: 132px;
  transform: rotateY(180deg);
  background-color: #009ee0;
  padding: 15px;
  box-sizing: border-box;
  backface-visibility: hidden;
}
#content .contentList .course .course3 .course3Item:hover{
  transform: rotateY(180deg);
}
#content .contentList .course .course3 .plus{
  position: absolute;
  top: -5px;
  background-image: url("../img/plus_row.png");
  width: 9px;
  height: 410px;
}
#content .contentList .course .course3 .plus:nth-child(1){
  left: -6px;
}
#content .contentList .course .course3 .plus:nth-child(2){
  left: 114px;
}
#content .contentList .course .course3 .plus:nth-child(3){
  left: 234px;
}
#content .contentList .course .course3 .plus:nth-child(4){
  left: 354px;
}
#content .contentList .course .course3 .plus:nth-child(5){
  left: 474px;
}

/*第一屏布局*/
#content .contentList .home .homeList{
  position: relative;
  width: 1100px;
  height: 520px;
  transform-style: preserve-3d;
  perspective: 1000px;
}
#content .contentList .home .homeList .homeItem{
  position: absolute;
  top: 0;
  left: 0;
  width: 1100px;
  height: 520px;
  visibility: hidden;
}
#content .contentList .home .homeList .homeItem.active{
  visibility: visible;
}
#content .contentList .home .homeList .homeItem>div{
  text-align: center;
  line-height: 520px;
  color: white;
}
#content .contentList .home .homeList .homeItem:nth-child(1){
  background:#dc6c5f;
}
#content .contentList .home .homeList .homeItem:nth-child(2){
  background:#95dc84;
}
#content .contentList .home .homeList .homeItem:nth-child(3){
  background:#64b9d2;
}
#content .contentList .home .homeList .homeItem:nth-child(4){
  background:#000000;
}
#content .contentList .home .homeNav{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
#content .contentList .home .homeNav .homeIcon{
  float: left;
  width: 20px;
  height: 20px;
  background-color: rgba(255,255,255,0.5);
  margin: 2px;
  box-shadow:0 0 4px rgba(25,25,25,0.8);
  border-radius: 50%;
}
#content .contentList .home .homeNav .homeIcon.active{
  background-color: white;
}
/*第一屏动画*/

/*左侧隐藏，右侧显示---------->点击下一个图、自动轮播*/
#content .contentList .home .homeList .homeItem.leftHide{
  animation: leftH 2s linear;
  visibility: hidden;
}
#content .contentList .home .homeList .homeItem.rightShow{
  animation: rightS 2s linear;
  visibility: visible;
}
@keyframes rightS {
  0%{visibility: hidden;transform:translateZ(-200px)}
  50%{transform: translateX(40%) rotateY(-30deg) scale(0.8)}
  100%{}
}
@keyframes leftH {
  0%{visibility: visible}
  50%{transform: translateX(-40%) rotateY(30deg) scale(0.8)}
  100%{transform:translateZ(-200px)}
}

/*左侧显示，右侧隐藏---------->点上一个图*/
#content .contentList .home .homeList .homeItem.leftShow{
  animation: leftS 2s linear;
  visibility: visible;
}
#content .contentList .home .homeList .homeItem.rightHide{
  animation: rightH 2s linear;
  visibility: hidden;
}
@keyframes rightH {
  0%{visibility: visible}
  50%{transform: translateX(40%) rotateY(-30deg) scale(0.8)}
  100%{transform:translateZ(-200px)}
}
@keyframes leftS {
  0%{visibility: hidden;transform: translateZ(-200px)}
  50%{transform: translateX(-40%) rotateY(30deg) scale(0.8)}
  100%{}
}

